html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 20em;       
    height: 33em;  
    font-size: clamp(16px, 2.5vw, 4vw); 
    overflow-y: auto;   
}

body {
    background: linear-gradient(to top, #200c17 0%, #110816 20% ,#110816 30%, #110816 80%, #040409 100%);
    box-shadow: inset 1.25em 1.25em 3.75em rgba(4, 4, 9, 0.2),
    inset -1.25em -1.25em 3.75em rgba(47, 40, 51, 0.2);

    color: #d8cbc2;
    text-align: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-image: var(--dynamic-background-image, url('themes/bg1.png'));
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
}

h1 {
    font-size: 1.5rem;
    text-shadow: 
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.08rem rgba(0, 0, 0, 1),
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 1.2rem rgba(164, 48, 48, 0.28),
        0 0 0.8rem rgba(164, 48, 48, 0.28),
        0 0 1.2rem rgba(164, 48, 48, 0.6),
        0 0 0.8rem rgba(164, 48, 48, 0.28);
}

h2 {
    font-size: 1.25rem;
    text-shadow: 
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.08rem rgba(0, 0, 0, 1),
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 1rem rgba(164, 48, 48, 0.28),
        0 0 0.7rem rgba(164, 48, 48, 0.28),
        0 0 1rem rgba(164, 48, 48, 0.6),
        0 0 0.7rem rgba(164, 48, 48, 0.28);
}

h3 {
    font-size: 1.04rem;
    text-shadow: 
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.08rem rgba(0, 0, 0, 1),
        0 0 0.08rem rgba(0, 0, 0, 0.8),
        0 0 0.9375rem rgba(164, 48, 48, 0.28),
        0 0 0.625rem rgba(164, 48, 48, 0.28),
        0 0 0.9375rem rgba(164, 48, 48, 0.6),
        0 0 0.625rem rgba(164, 48, 48, 0.28);
}

h4 {
    font-size: 0.87rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.75rem;
}

button {
    border: none;
    outline: none;

    background: rgba(29, 13, 36, 0.24);
    color: #d8cbc2;

    font-size: 1rem;
    
    box-shadow: 
        inset -0.24rem -0.24rem 0.4rem rgba(139, 100, 161, 0.18), 
        inset 0.24rem 0.24rem 0.4rem rgba(0, 0, 0, 0.6),          
        -0.2rem -0.2rem 0.8rem rgba(255, 255, 255, 0.02),       
        0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.33);                

    border-radius: 0.33em;
    padding: 0.467rem 1.4rem;

    cursor: pointer;
    -webkit-transition: all 0.26s ease-in-out;
    -moz-transition: all 0.26s ease-in-out;
    -ms-transition: all 0.26s ease-in-out;
    -o-transition: all 0.26s ease-in-out;
    transition: all 0.26s ease-in-out;

    flex-basis: auto;

    margin-bottom: 0.33rem;
}

button:hover, button:active, button:focus {
    background-color: rgba(0, 0, 0, 0.33);

    text-shadow: 
    0 0 0.08rem rgba(0, 0, 0, 0.8),
    0 0 0.08rem rgba(0, 0, 0, 0.8),
    0 0 0.08rem rgba(0, 0, 0, 1),
    0 0 0.08rem rgba(0, 0, 0, 0.8),

    0 0 0.6rem rgba(164, 48, 48, 0.8),
    0 0 0.42rem rgba(164, 48, 48, 0.8),
    0 0 0.6rem rgba(164, 48, 48, 1),
    0 0 0.42rem rgba(164, 48, 48, 0.8);

    box-shadow: 
    inset -0.24rem -0.24rem 0.4rem rgba(178, 142, 199, 0.15), 
    inset 0.24rem 0.24rem 0.4rem rgba(0, 0, 0, 0.47),          
    -0.2rem -0.2rem 0.8rem rgba(255, 255, 255, 0.02),       
    0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.33);                
}

button:disabled {
    background-color: #e7e7e7;
    color: #a1a1a1;
    cursor: not-allowed;
}

input[type="text"], input[type="password"], textarea, select {
    border: none;
    outline: none;
    resize: none;

    background: rgba(9, 4, 12, 0.33);
    color: #c2b5ab;
    font-size: 0.83rem;

    box-sizing: border-box;
    width: 92%;
    padding: 0.5rem;

    border-radius: 0.5rem;

    box-shadow: 
        inset -0.4rem -0.4rem 0.42rem rgba(0, 0, 0, 0.28),
        inset 0.1rem 0.1rem 0.1rem rgba(70, 48, 87, 0.05),
        0.4rem 0.4rem 0.8rem rgba(70, 48, 87, 0.02),
        -0.4rem -0.4rem 0.8rem rgba(0, 0, 0, 0.33); 

    border: 2px solid rgba(204, 204, 204, 0.1);

    -webkit-transition: all 0.26s ease-in-out;
    -moz-transition: all 0.26s ease-in-out;
    -ms-transition: all 0.26s ease-in-out;
    -o-transition: all 0.26s ease-in-out;
    transition: all 0.26s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
    border: 2px solid rgba(151, 134, 116, 0.33);
    color: #c2b5ab;
}

input::placeholder, textarea::placeholder {
    color: #978580;
}

select {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

select > option {
    background-color: #060308;
    color: #978580;
}

nav.multiButton {
    box-sizing: border-box;
    padding: 0.467rem 0.467rem 0.1rem 0.467rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav.multiButton > button{
    min-width: 2.2rem;
}

main > * {
    margin-top: 0.3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

main > *:not(:first-child) {
    margin-top: 1rem;
}

main > * > * {
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0;
    padding: 0;
}

button, input[type="text"], input[type="password"], textarea, p {
    margin-top: 0.33rem;
}

.multiButton {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.multiButton > button {
    min-width: 8.8rem;
    flex: 0 1 auto;
}

.wideButtonArea {
    width: 100%;
}

.multiHeader {
    font-size: 1.04rem;
    color: #fff9ed;

    text-shadow: 
    0 0 0.9375rem rgba(164, 48, 48, 0.3),
    0 0 0.625rem rgba(164, 48, 48, 0.6),
    0 0 0.9375rem rgba(164, 48, 48, 0.3),
    0 0 0.625rem rgba(164, 48, 48, 0.3);    
}

.multiHeader:first-child {
    margin-top: 1em;
}

#configMain > button {
    margin-top: 0.3rem;
}